
VITE_API_URL = '{backend url}'

VITE_API_AUTH_URL = '{backend url}/auth'
VITE_API_WORKSPACES_URL = '{backend url}/api/workspaces'
VITE_API_B0ARDS_URL = '{backend url}/api/boards'
VITE_API_TASKS_URL = '{backend url}/api/tasks'
VITE_API_USERS_URL = '{backend url}/api/users'    # users/telegram/ для телеграмных


VITE_API_AUTH_REGISTER_URL = '/register'
VITE_API_AUTH_LOGIN_URL = '/login'


VITE_API_WORKSPACES_GET_USER_WORKSPACES_URL = '/'
VITE_API_WORKSPACES_CREATE_URL = '/'
VITE_API_WORKSPACES_GET_BY_ID_URL = '/:id'
VITE_API_WORKSPACES_UPDATE_URL = '/:id'
VITE_API_WORKSPACES_DELETE_URL = '/:id'
VITE_API_WORKSPACES_ADD_MEMBER_URL = '/:id/members'
VITE_API_WORKSPACES_REMOVE_MEMBER_URL = '/:id/members/:userId'

VITE_API_BOARDS_GET_BY_WORKSPACE_URL = '/workspaces/:workspaceId/boards'
VITE_API_BOARDS_CREATE_URL = '/workspaces/:workspaceId/boards'
VITE_API_BOARDS_GET_BY_ID_URL = '/:id'
VITE_API_BOARDS_UPDATE_URL = '/:id'
VITE_API_BOARDS_DELETE_URL = '/:id'
VITE_API_BOARDS_MOVE_URL = '/:id/move' # переместить в другой workspace
VITE_API_BOARDS_ADD_COLUMN_URL = '/:id/addColumn'
VITE_API_BOARDS_UPDATE_COLUMN_URL = '/:id/column/:columnId'
VITE_API_BOARDS_REMOVE_COLUMN_URL = '/:id/column/:columnId'
VITE_API_BOARDS_ADD_MEMBER_URL = '/:id/members'
VITE_API_BOARDS_REMOVE_MEMBER_URL = '/:id/members/:userId'

VITE_API_TASKS_GET_BY_BOARD_URL = '/boards/:boardId/tasks'
VITE_API_TASKS_GET_BY_COLUMN_URL = '/boards/:boardId/columns/:columnId/tasks'
VITE_API_TASKS_GET_BY_ID_URL = '/:taskId'
VITE_API_TASKS_CREATE_URL = '/boards/:boardId/tasks'
VITE_API_TASKS_UPDATE_URL = '/:taskId'
VITE_API_TASKS_DELETE_URL = '/:taskId'
VITE_API_TASKS_RESTORE_URL = '/:taskId/restore'
VITE_API_TASKS_MOVE_URL = '/:taskId/move'
VITE_API_TASKS_ASSIGN_USER_URL = '/:taskId/assign'
VITE_API_TASKS_UNASSIGN_USER_URL = '/:taskId/assign/:assigneeId'
VITE_API_TASKS_COMPLETE_URL = '/:taskId/complete'
VITE_API_TASKS_BLOCK_URL = '/:taskId/block'
VITE_API_TASKS_UNBLOCK_URL = '/:taskId/unblock'
VITE_API_TASKS_ADD_CHECKLIST_ITEM_URL = '/:taskId/checklist'
VITE_API_TASKS_TOGGLE_CHECKLIST_ITEM_URL = '/:taskId/checklist/:itemId/toggle'
VITE_API_TASKS_REMOVE_CHECKLIST_ITEM_URL = '/:taskId/checklist/:itemId'
VITE_API_TASKS_ADD_COMMENT_URL = '/:taskId/comments'
VITE_API_TASKS_EDIT_COMMENT_URL = '/:taskId/comments/:commentId'
VITE_API_TASKS_DELETE_COMMENT_URL = '/:taskId/comments/:commentId'
VITE_API_TASKS_ADD_ATTACHMENT_URL = '/:taskId/attachments'
VITE_API_TASKS_REMOVE_ATTACHMENT_URL = '/:taskId/attachments/:attachmentId'

VITE_API_USERS_GET_ALL_URL = '/'
VITE_API_USERS_GET_CURRENT_URL = '/me'
VITE_API_USERS_UPDATE_CURRENT_URL = '/me'
VITE_API_USERS_GET_BY_ID_URL = '/:id'
VITE_API_USERS_UPDATE_PROFILE_URL = '/:id'
VITE_API_USERS_DELETE_URL = '/:id'
VITE_API_USERS_TELEGRAM_CREATE_URL = '/telegram'
VITE_API_USERS_TELEGRAM_GET_ALL_URL = '/telegram/all'
VITE_API_USERS_TELEGRAM_GET_BY_ID_URL = '/telegram/:telegramId'
VITE_API_USERS_TELEGRAM_UPDATE_URL = '/telegram/:telegramId'
VITE_API_USERS_TELEGRAM_DELETE_URL = '/telegram/:telegramId'


